
  @import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Cedarville+Cursive&family=Open+Sans&family=Roboto&family=Roboto+Condensed:wght@300;400&display=swap');


  *{
  font-family: 'Amatic SC', cursive;
  font-family: 'Cedarville Cursive', cursive;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
  }





.bannerBg{
    height: 100vh;
    background: url(./images/bannerbg.jpg);
    background-size: cover;
    position: relative;
}

.bannerText {
    text-align: center;
    position: absolute;
    top: 40%;
    color: #ffffff;

}

.bannerTitle {
    font-size: 4rem;
}

.bannerDesc {
    font-size: 2rem;
}

.bodybg{
    background: #121213;
}
.sectiontext{
    color:#ffffff;
}
.spanBg{
    color: #f8ad36;
}
.card{
    cursor: pointer;
}
.card:hover{
    background-color: #121213;
    color: #ffffff;
    border: 1px solid #808080;
    border-radius: 2%;
}
.bIcon{
    width: 100%;
    text-align: center;
    font-size: 40px;
}
.img-fluid:hover{
    border: 1px solid #808080; 
    border-radius: 2%;
    
}
.img-fluid{
    height: 30vh;
}
.aboutme{
    text-decoration: underline;
}
.card-img-top{
    height: 50vh;
}
